@import "~CSS/index";

.header {
	margin: 0 auto;
	width: 100%;
	background: $grey-900;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 200000;

	.header-flex-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		align-content: flex-start;
		height: 3em;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.nav-title {
			@include heading-6;
			order: 0;
			margin: auto 0.5em;
		}

		.link {
			margin: auto;
		}

		.link-5 {
			order: 5;
			margin: auto 0.5em;
		}
	}
}
