@import "~CSS/index";

$spinner-size-extra-extra-small: 16px;
$spinner-size-extra-small: 24px;
$spinner-size-small: 32px;
$spinner-size-default: 48px;
$spinner-size-medium: 64px;
$spinner-size-large: 80px;
$spinner-size-extra-large: 96px;

$transform-origin-extra-extra-small: 8px;
$transform-origin-extra-small: 12px;
$transform-origin-small: 16px;
$transform-origin-default: 24px;
$transform-origin-medium: 32px;
$transform-origin-large: 40px;
$transform-origin-extra-large: 48px;

$div-top-left-extra-extra-small: 12.5px;
$div-top-left-extra-small: 19px;
$div-top-left-small: 25px;
$div-top-left-default: 37.5px;
$div-top-left-medium: 50px;
$div-top-left-large: 62.5px;
$div-top-left-extra-large: 75px;

$div-height-width-extra-extra-small: 1.5px;
$div-height-width-extra-small: 2.25px;
$div-height-width-small: 3px;
$div-height-width-default: 4.5px;
$div-height-width-medium: 6px;
$div-height-width-large: 7.5px;
$div-height-width-extra-large: 9px;

%spinner-template {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

%div-after-template {
	content: " ";
	display: block;
	position: absolute;
	border-radius: 50%;
	background: $cyan-500;
	margin: 0;
}

.spinner {
	&-xes {
		@extend %spinner-template;
		width: $spinner-size-extra-extra-small;
		height: $spinner-size-extra-extra-small;
	}
	&-xs {
		@extend %spinner-template;
		width: $spinner-size-extra-small;
		height: $spinner-size-extra-small;
	}
	&-sm {
		@extend %spinner-template;
		width: $spinner-size-small;
		height: $spinner-size-small;
	}
	&-default {
		@extend %spinner-template;
		width: $spinner-size-default;
		height: $spinner-size-default;
	}
	&-md {
		@extend %spinner-template;
		width: $spinner-size-medium;
		height: $spinner-size-medium;
	}
	&-lg {
		@extend %spinner-template;
		width: $spinner-size-large;
		height: $spinner-size-large;
	}
	&-xl {
		@extend %spinner-template;
		width: $spinner-size-extra-large;
		height: $spinner-size-extra-large;
	}
}

// ^ is for classes beginning with "spin-div"
// $ is for classes ending in "xes"
[class^="spin-div"] {
	animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

[class^="spin-div"][class$="xes"] {
	transform-origin: $transform-origin-extra-extra-small $transform-origin-extra-extra-small;
}
[class^="spin-div"][class$="xs"] {
	transform-origin: $transform-origin-extra-small $transform-origin-extra-small;
}
[class^="spin-div"][class$="sm"] {
	transform-origin: $transform-origin-small $transform-origin-small;
}
[class^="spin-div"][class$="default"] {
	transform-origin: $transform-origin-default $transform-origin-default;
}
[class^="spin-div"][class$="md"] {
	transform-origin: $transform-origin-medium $transform-origin-medium;
}
[class^="spin-div"][class$="lg"] {
	transform-origin: $transform-origin-large $transform-origin-large;
}
[class^="spin-div"][class$="xl"] {
	transform-origin: $transform-origin-extra-large $transform-origin-extra-large;
}

[class^="spin-div"][class$="xes"]:after {
	@extend %div-after-template;
	width: $div-height-width-extra-extra-small;
	height: $div-height-width-extra-extra-small;
	top: $div-top-left-extra-extra-small;
	left: $div-top-left-extra-extra-small;
}
[class^="spin-div"][class$="xs"]:after {
	@extend %div-after-template;
	width: $div-height-width-extra-small;
	height: $div-height-width-extra-small;
	top: $div-top-left-extra-small;
	left: $div-top-left-extra-small;
}
[class^="spin-div"][class$="sm"]:after {
	@extend %div-after-template;
	width: $div-height-width-small;
	height: $div-height-width-small;
	top: $div-top-left-small;
	left: $div-top-left-small;
}
[class^="spin-div"][class$="default"]:after {
	@extend %div-after-template;
	width: $div-height-width-default;
	height: $div-height-width-default;
	top: $div-top-left-default;
	left: $div-top-left-default;
}
[class^="spin-div"][class$="md"]:after {
	@extend %div-after-template;
	width: $div-height-width-medium;
	height: $div-height-width-medium;
	top: $div-top-left-medium;
	left: $div-top-left-medium;
}
[class^="spin-div"][class$="lg"]:after {
	@extend %div-after-template;
	width: $div-height-width-large;
	height: $div-height-width-large;
	top: $div-top-left-large;
	left: $div-top-left-large;
}
[class^="spin-div"][class$="xl"]:after {
	@extend %div-after-template;
	width: $div-height-width-extra-large;
	height: $div-height-width-extra-large;
	top: $div-top-left-extra-large;
	left: $div-top-left-extra-large;
}

#spin-div1 {
	animation-delay: -0.036s;
}
#spin-div2 {
	animation-delay: -0.072s;
}
#spin-div3 {
	animation-delay: -0.108s;
}
#spin-div4 {
	animation-delay: -0.144s;
}
#spin-div5 {
	animation-delay: -0.18s;
}
#spin-div6 {
	animation-delay: -0.216s;
}
#spin-div7 {
	animation-delay: -0.252s;
}
#spin-div8 {
	animation-delay: -0.288s;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
