@import "~CSS/index";

.generic-checkbox {
	@include body-3;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 100%;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	width: inherit;
	padding: 0 0.5em;

	.checkbox-label-right {
		margin-left: 0.25em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.checkbox-label-left {
		margin-right: 0.25em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		display: none;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $white;

		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}
}
