@import "~CSS/index";

.link-button {
	@include body-4;
	text-decoration: none;
	color: $white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	margin: auto 0.5em;

	&:focus,
	&:visited,
	&:link,
	&:active {
		text-decoration: none;
	}
}

.active-link {
	box-sizing: border-box;
	border-bottom: 2px solid $cyan-700;
	border-top: 2px solid transparent;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: $cyan-700;
}
