@import "~CSS/index";

.file-input {
    .attach-file {
        margin-top: .25em;
        @include body-3;
        text-align: left;
        max-width: 100%;

        .file-attached {
            display: flex;
            align-items: center;
            .filename {
                text-overflow: ellipsis;
                width: 60%;
                white-space: nowrap;
            }
        }
    }

    .file-input-element {
        display: none;
    }
    
    .file-commands {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .file-upload-commands {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}