@import "~CSS/index";

.overview-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-between;
	height: 100%;

	.card-title {
		position: relative;

		.drill-info-header {
			position: relative;
		}

		.edit-drill-button {
			position: absolute;
			right: 0;
			margin-right: 0.5em;

			i {
				transition: 0.2s;

				&:hover {
					color: $cyan-700;
				}
			}
		}
	}
}

.active-drill-title-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;

	.active-drill-create-icon {
		top: 0;
		right: 1em;
		position: absolute;
		cursor: pointer;
		&:hover:enabled,
		&:focus:enabled {
			opacity: 0.5;
		}
	}
}
