@import "~CSS/index";

.notification-view-item {
	@include body-3;
	background-color: $cyan-900;
	text-align: left;
	padding: 0.5em;
	margin: 0.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	.notification-view-item-timestamp {
		margin-right: 0.25em;
	}

	.notification-view-item-commands {
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.notification-view-item-delete {
			cursor: pointer;

			&:hover {
				color: $cyan-700;
			}
		}
	}

	.notification-view-item-message {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
