@import "~CSS/index";

.attachments-list-view {
	width: 100%;
	text-align: left;
	max-height: 10em;
	margin-bottom: 0.25em;

	.attachments {
		@include body-2;
		list-style: none;
		padding: 0.5em;
		margin: 0;
		max-height: 10em;
		overflow-y: auto;
		background-color: $blue-grey-800;
	}
}
