@import "~CSS/index";

.template-editor-palette-view {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	margin: 0.25em 0;

	.template-editor-palette-commands {
		display: flex;
		height: fit-content;
		flex-wrap: wrap;
		align-items: center;
		@include body-3;

		.editor-button {
			display: flex;
			align-items: center;
			padding: 0.25em 0.5em;
			background-color: $blue-grey-700;
			cursor: pointer;
			margin: 0.25em 0.25em 0.25em 0.25em;
			position: relative;
			transition: 0.1s;
			white-space: nowrap;

			.editor-button-label {
				margin-left: 0.5em;
				cursor: pointer;
			}

			&:hover {
				background-color: $cyan-700;
			}
		}

		.disabled {
			background-color: $grey-700 !important;
			color: $grey-400;
			pointer-events: none;

			i {
				color: $grey-400;
			}
		}
	}
}
