@import "~CSS/index";

.diagram-view-container {
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow: auto;

	.tab-flex-box {
		display: flex;
		flex-flow: row;
		min-height: 3em;
	}

	.diagram-view-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.edit-mode-button {
			display: flex;
			align-items: center;
			@include body-3;
			cursor: pointer;
			margin: 1em;
			padding: 1em;
			min-width: fit-content;
			min-width: -moz-fit-content;
			background-color: $blue-grey-700;

			.mode-button-label {
				cursor: pointer;
				width: max-content;
			}

			&:hover {
				color: $cyan-700;

				i.material-icons {
					color: $cyan-700;
				}
			}
		}
	}

	.diagram-detailed-flex-box {
		display: flex;
		flex-flow: row;
		min-height: 0;
		height: 100%;
	}

	.detailed-view-side-bar-button {
		display: flex;
		align-items: center;
		cursor: pointer;
		background-color: $blue-grey-800;

		&:hover {
			background-color: $cyan-900;
		}
	}
}
