@import "~CSS/index";

.account-view {
	.sidebar {
		flex: 1 9 auto;
		display: flex;
		flex-direction: column;
		padding: 20px;

		.options {
			margin: 0 auto;
		}

		.admin-options {
			margin: 0 auto;
		}
	}
}
