@import "~CSS/index";

.active-task-item-view {
	background-color: $cyan-900;
	//box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5); //messes up the box-shadow animation
	width: 19%;
	float: left;
	margin: 0 0.2em 0 0.2em;
	padding: 0.25em 0;
	height: 5em;
	box-sizing: border-box;
	cursor: pointer;

	.active-task-item-owner-label {
		@include heading-3;
		color: $white;
	}

	.label {
		@include body-4;
		font-weight: 800;
		color: $white;
	}

	.description {
		@include body-2;
		font-weight: 800;
		color: $white;
		width: 90%;
		margin: 0.5em auto 0.5em auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.timer {
		@include body-4;
		font-weight: 800;
	}

	.complete-btn {
		font-weight: 800;
		color: white;
		background: grey;
		border: none;
		padding: 5px;
		margin: 5px;
		cursor: pointer;

		&:hover {
			background: Green;
		}
	}
}

.active-task-item {
	position: relative;
	-webkit-transition: border 1s linear, box-shadow 1s linear;
	-moz-transition: border 1s linear, box-shadow 1s linear;
	transition: border 1s linear, box-shadow 1s linear;
	animation: glow 1.5s infinite alternate;
}

@keyframes glow {
	to {
		border-color: #ffffff inset;
		-webkit-box-shadow: 0 0 1em #ffffff inset;
		-moz-box-shadow: 0 0 1em #ffffff inset;
		box-shadow: 0 0 1em #ffffff inset;
	}
}
