@import "~CSS/index";

.new-owner-container {
	.new-owner-form {
		margin-bottom: 0.5em;

		.new-owner-form-item {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0.5em 0 0.5em 0;

			.new-owner-label {
				@include heading-3;
				min-width: max-content;
				margin-right: 0.5em;
			}
		}
	}

	.confirmation-message {
		@include body-2;
	}
}
