@import "~CSS/index";

.settings-options-container {
	@include body-4;
	display: flex;
	flex-direction: column;
	width: 40%;

	.settings-options-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
